@import "../Abstact/Colors";
@import "../Mixin/Mixin";
@media only screen and (min-width: 1024px) {
  .container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    .left-div {
      flex-grow: 1;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: slide-up 2s;

      @keyframes slide-up {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
      .circle-shadow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 568px;
        height: 565px;
        border-radius: 50%;
        border: 6px solid $text;
        .menu {
          list-style-type: none;
          padding: 0;
          display: grid;
          margin: auto;
          animation: rotating 15s linear infinite;

          @keyframes rotating {
            from {
              transform: rotate(0deg);
            }

            to {
              transform: rotate(360deg);
            }
          }
          li {
            --d: 280px;
            grid-area: 1/1;
            transform: rotate(var(--r)) translateX(var(--d))
              rotate(calc(-1 * var(--r)));
            a {
              display: block;
              img {
                width: 75px;
                animation: rotating-back 8s linear infinite;

                @keyframes rotating-back {
                  from {
                    transform: rotate(0deg);
                  }

                  to {
                    transform: rotate(-360deg);
                  }
                }
              }
            }
          }
        }

        .menu:hover {
          animation-play-state: paused;
        }
        /* adjust the angle for each icon */
        .menu li:nth-child(1) {
          --r: -90deg;
        }
        .menu li:nth-child(2) {
          --r: 150deg;
        }
        .menu li:nth-child(3) {
          --r: 30deg;
        }

        .pic {
          position: absolute;
          width: 446.88px;
          height: 450px;
          border-radius: 50%;
          border: 5px solid $background;
          box-shadow: 0px 0px 140px 140px $shadow;
        }
      }
    }
    .right-div {
      flex-grow: 1;
      flex-basis: 50%;
      display: flex;
      gap: 1em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: slide-down 1.5s;
      overflow: hidden;

      @keyframes slide-down {
        from {
          transform: translateY(-100%);
          opacity: 0;
        }

        to {
          transform: translateY(0%);
          opacity: 1;
        }
      }
      .name {
        color: $text;
        @include ubuntu_bold_italic;
        font-size: calc(4vw + 1vh);
        text-shadow: 4px 0 $shadow, -4px 0 $shadow, 0 4px $shadow, 0 -4px $shadow,
               3px 3px $shadow, -3px -3px $shadow, 3px -3px $shadow, -3px 3px $shadow;
      }
      .subtext {
        color: $unselect_text;
        @include ubuntu_bold_italic;
        font-size: calc(1.5vw + 1.5vh);
        white-space: nowrap;
        width: fit-content;
        .typing-text {
          display: inline-block;
          width: 0;
          overflow: hidden;
          white-space: nowrap;
          animation: typing 3s steps(30, end) forwards;
          span:nth-of-type(1) {
            color: #3951ce;
          }
          span:nth-of-type(2) {
            color: #bf7530;
          }
          span:nth-of-type(3) {
            color: #ce3e2a;
          }
        }

        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    .left-div {
      flex-grow: 1;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: slide-up 2s;

      @keyframes slide-up {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
      .circle-shadow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: calc(27vw + 27vh);
        height: calc(27vw + 27vh);
        border-radius: 50%;
        border: 6px solid $text;
        .menu {
          list-style-type: none;
          display: grid;
          animation: rotating 15s linear infinite;
          @keyframes rotating {
            from {
              transform: rotate(0deg);
            }

            to {
              transform: rotate(360deg);
            }
          }
          li {
            --d: calc(13.5vw + 13.5vh);
            grid-area: 1/1;
            transform: rotate(var(--r)) translateX(var(--d))
              rotate(calc(-1 * var(--r)));
            a {
              display: block;
              img {
                width: calc(3.7vw + 3.7vh);
                animation: rotating-back 8s linear infinite;

                @keyframes rotating-back {
                  from {
                    transform: rotate(0deg);
                  }

                  to {
                    transform: rotate(-360deg);
                  }
                }
              }
            }
          }
        }

        .menu:hover {
          animation-play-state: paused;
        }
        /* adjust the angle for each icon */
        .menu li:nth-child(1) {
          --r: -90deg;
        }
        .menu li:nth-child(2) {
          --r: 150deg;
        }
        .menu li:nth-child(3) {
          --r: 30deg;
        }

        .pic {
          position: absolute;
          width: 44%;
          border-radius: 50%;
          border: 5px solid $background;
          box-shadow: 0px 0px calc(7vw + 7vh) calc(7vw + 7vh) $shadow;
        }
      }
    }
    .right-div {
      flex-grow: 1;
      flex-basis: 50%;
      display: flex;
      gap: 1em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: slide-down 1.5s;
      overflow: hidden;

      @keyframes slide-down {
        from {
          transform: translateY(-100%);
          opacity: 0;
        }

        to {
          transform: translateY(0%);
          opacity: 1;
        }
      }
      .name {
        color: $text;
        @include ubuntu_bold_italic;
        font-size: calc(4vw + 1vh);
        text-shadow: 4px 0 $shadow, -4px 0 $shadow, 0 4px $shadow, 0 -4px $shadow,
               3px 3px $shadow, -3px -3px $shadow, 3px -3px $shadow, -3px 3px $shadow;
      }
      .subtext {
        color: $unselect_text;
        @include ubuntu_bold_italic;
        font-size: calc(1.5vw + 1.5vh);
        white-space: nowrap;
        width: fit-content;
        .typing-text {
          display: inline-block;
          width: 0;
          overflow: hidden;
          white-space: nowrap;
          animation: typing 3s steps(30, end) forwards;
          span:nth-of-type(1) {
            color: #3951ce;
          }
          span:nth-of-type(2) {
            color: #bf7530;
          }
          span:nth-of-type(3) {
            color: #ce3e2a;
          }
        }

        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    .left-div {
      flex-grow: 1;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: slide-up 2s;

      @keyframes slide-up {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
      .circle-shadow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: calc(27vw + 27vh);
        height: calc(27vw + 27vh);
        border-radius: 50%;
        border: 6px solid $text;
        .menu {
          list-style-type: none;
          display: grid;
          animation: rotating 15s linear infinite;
          @keyframes rotating {
            from {
              transform: rotate(0deg);
            }

            to {
              transform: rotate(360deg);
            }
          }
          li {
            --d: calc(13vw + 13vh);
            grid-area: 1/1;
            transform: rotate(var(--r)) translateX(var(--d))
              rotate(calc(-1 * var(--r)));
            a {
              display: block;
              img {
                width: calc(3.7vw + 3.7vh);
                animation: rotating-back 8s linear infinite;

                @keyframes rotating-back {
                  from {
                    transform: rotate(0deg);
                  }

                  to {
                    transform: rotate(-360deg);
                  }
                }
              }
            }
          }
        }

        .menu:hover {
          animation-play-state: paused;
        }
        /* adjust the angle for each icon */
        .menu li:nth-child(1) {
          --r: -90deg;
        }
        .menu li:nth-child(2) {
          --r: 150deg;
        }
        .menu li:nth-child(3) {
          --r: 30deg;
        }

        .pic {
          position: absolute;
          width: 44%;
          border-radius: 50%;
          border: 5px solid $background;
          box-shadow: 0px 0px calc(7vw + 7vh) calc(7vw + 7vh) $shadow;
        }
      }
    }
    .right-div {
      flex-grow: 1;
      flex-basis: 50%;
      display: flex;
      gap: 1em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: slide-down 1.5s;
      overflow: hidden;

      @keyframes slide-down {
        from {
          transform: translateY(-100%);
          opacity: 0;
        }

        to {
          transform: translateY(0%);
          opacity: 1;
        }
      }
      .name {
        color: $text;
        @include ubuntu_bold_italic;
        font-size: calc(4vw + 1vh);
        text-shadow: 4px 0 $shadow, -4px 0 $shadow, 0 4px $shadow, 0 -4px $shadow,
               3px 3px $shadow, -3px -3px $shadow, 3px -3px $shadow, -3px 3px $shadow;
      }
      .subtext {
        color: $unselect_text;
        @include ubuntu_bold_italic;
        font-size: calc(1.5vw + 1.5vh);
        white-space: nowrap;
        width: fit-content;
        .typing-text {
          display: inline-block;
          width: 0;
          overflow: hidden;
          white-space: nowrap;
          animation: typing 3s steps(30, end) forwards;
          span:nth-of-type(1) {
            color: #3951ce;
          }
          span:nth-of-type(2) {
            color: #bf7530;
          }
          span:nth-of-type(3) {
            color: #ce3e2a;
          }
        }

        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
